= form_for(@note, html: {class:'form-inline'}) do |f|
  - if @note.errors.any? 
    = render partial: '/partials/standard_form_errors', locals: {errors: @note.errors}

  .form-group
    = f.label :member_id, class:'sr-only'
    = f.select(:member_id, Member.all.collect {|p| [ p.name, p.id ] }, { include_blank: false, prompt:'Member' }, class:'input-lg')

  .form-group
    = f.label :note_tag_id, class:'sr-only'
    = f.select(:note_tag_id, Note::Tag.all.collect {|p| [ p.name.humanize.titleize, p.id ] }, { include_blank: false, prompt:'Type' }, class:'input-lg')

  .form-group
    = f.label :note, class:'sr-only'
    = f.text_field :note, class:'form-control input-lg', style:'width:700px;', placeholder:'Note', autofocus: true 

  %button.btn.btn-primary.btn-lg{type:'submit'} 
    %span.glyphicon.glyphicon-plus
    Add
