<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @note.member.name %>
</p>

<p>
  <strong>Note tag:</strong>
  <%= @note.tag.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
