!!!5
%head
  %title Recap
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  -# Navbar
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{type:"button",data:{toggle:"collapse",target:"#navbar-collapse"}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href:"#"} recap

      .collapse.navbar-collapse{id:"navbar-collapse"}
        %ul.nav.navbar-nav
          %li.active 
            %a{href:'#'} Home
          %li 
            %a{href:'#'} About
          %li 
            %a{href:'#'} Contact
        %p.navbar-text.navbar-right
          Signed in as 
          %a.navbar-link{href:'#'} 
            username

  -# Primary content area
  .container-fluid
    .row
      -# Side-Nav box
      -#.col-xs-3.col-md-2
        .well.sidebar-nav
          %ul.nav.nav-list
            %li.nav-header Sidebar
            %li.active Link 1
            %li Link 2
            %li.nav-header Sidebar2 
            %li Link 3
            %li Link 4
            %li Link 5
          </ul>
      -# Primary content screen
      .col-xs-9.col-md-10
        .notice
          = notice
        .alert
          = alert

        = yield
